<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/prism-gruvbox-dark.css" />
  </head>
  <body>
    <nav id="nav-bar">
      <a id="home" class="nav-link" href="/">SEILER'S CORNER</a>
      <div class="spacer"></div>
      <a class="nav-link" href="/about">ABOUT</a>
      <a class="nav-link" href="/blog">BLOG</a>
      <a class="nav-link" href="/socials">SOCIALS</a>
      <a class="nav-link" href="/feed.xml">ATOM FEED</a>
    </nav>
    <main class="content-area">
      {{ content | safe }}
    </main>
  </body>
</html>
