---
layout: layouts/base-layout.njk
---
<div id="blog">
  <h1 class="banner">
    POSTS
  </h1>
  <ul>
    {%- for post in collections.post | reverse -%}
      <li>
        <a href="{{ post.url }}">{{post.date.toLocaleDateString()}} :: {{post.data.title}}</a>
      </li>
    {%- endfor -%}
  </ul>
</div>
