---
layout: layouts/base-layout.njk
---
<div id="landing">
  <h1 class="banner">WHAT IS THIS?</h1>
  <p class="blurb">
    You're on the personal website of <a href="/about">Jordan Seiler</a>, where he writes
    about things he's interested in.
  </p>
  <h1 class="banner">JORDAN SEILER? WHO'S THAT?</h1>
  <p class="blurb">
    Jordan Seiler is a software engineer and musician who likes to make
    and experience cool things and occasionally <a href="/blog">decides to write about them</a>.
  </p>
</div>
