---
layout: layouts/base-layout.njk
---
<div id="socials" class="flow">
  <h1 class="banner">SOCIALS</h1>
  <p class="blurb">You can also find me here:</p>
  <div id="socials-list">
    <a id="bluesky" class="social-link" href="https://bsky.app/profile/jdseiler.bsky.social" target="_blank">
      BLUESKY 🔗
    </a>
    <a id="github" class="social-link" href="https://github.com/jdseiler" target="_blank">
      GITHUB 🔗
    </a>
    <a id="linkedin" class="social-link" href="https://www.linkedin.com/in/jordan-seiler" target="_blank">
      LINKEDIN 🔗
    </a>
  </div>
</div>
